body {
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ,
		Meiryo, ＭＳ Pゴシック, sans-serif;
	font-size: 12px;
	color: #333333;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.content, .error, .header {
	margin: 10px 20px 10px 20px;
	padding: 0px 20px 0px 20px;
}

/*header*/
.header {
	background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#EEE));
	background: -ms-linear-gradient(top, #FFF, #EEE);
	border: 1px solid #DDD;
	color: #111;
	border-radius: 5px;
}

.header ul {
	padding: 0;
	margin: 0;
	font-weight: bold;
	display: table;
	width: 100%;
}

.header li {
	width: 100px;
	display: table-cell;
	vertical-align: middle;
}

.header li.right {
	float: right;
}

.header li.title {
	width: 250px;
}

.header li.title span {
	text-align: left;
}

.header li a.menu, .header li span {
	text-align: center;
	background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#EEE));
	background: -ms-linear-gradient(top, #FFF, #EEE);
	color: #111;
	padding: 10px 0;
	display: block;
	cursor: default;
	text-decoration: none;
}

.header li a.menu:hover, .header li a.selected {
	background: -moz-linear-gradient(top, #FFF 0%, #333333);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#333333));
	background: -ms-linear-gradient(top, #FFF, #333333);
	color: #111;
	padding: 10px 0;
	display: block;
	cursor: default;
}

.header .button-container {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	margin-left: auto;
}

.header a.button {
	font-size: 12px;
	-webkit-appearance: none;
	text-decoration: none;
	cursor: default;
}

.header a.button:hover {
	font-size: 12px;
	background-color: #6995c9;
	-webkit-appearance: none;
	text-decoration: none;
}

/*ボタン*/
.button, input[type=button], input[type=submit] {
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ,
		Meiryo, ＭＳ Pゴシック, sans-serif;
	border-style: none;
	font-weight: bold;
	color: #ffffff;
	background-color: #6995c9;
	font-size: 14px;
	border-radius: 10px;
	padding: 5px 20px;
	-webkit-appearance: button;
}

a.button {
	-webkit-appearance: none;
	text-decoration: none;
	cursor: default;
}

/*error*/
.error_message {
	color: red;
	display: block;
}

/*ラジオボタンカスタマイズ*/
input[type=radio] {
	display: none;
}

input[type=radio]:checked+.radio:before {
	opacity: 1;
}

.radio {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0 0 0 0;
	vertical-align: middle;
	cursor: pointer;
}

.radio:hover:after {
	border-color: #cb8fc2;
}

.radio:after {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	margin-top: -12px;
	width: 18px;
	height: 18px;
	border: 2px solid #cb8fc2;
	border-radius: 20%;
	content: '';
}

.radio:before {
	position: absolute;
	top: 50%;
	left: 6px;
	display: block;
	margin-top: -6px;
	width: 10px;
	height: 10px;
	border-radius: 20%;
	background-color: #cb8fc2;
	content: '';
	opacity: 0;
}

/*一覧テーブル用*/
table.list {
	border-collapse: collapse;
	table-layout: fixed;
}

table.list, table.list th, table.list td {
	border-bottom: 1px #bcbcbc solid;
	padding: 10px;
}

/*入力（登録・検索条件）テーブル用*/
table.input {
	border-collapse: collapse;
	table-layout: fixed;
}

table.input, table.input th, table.input td {
	padding: 10px;
	text-align: left;
}

/*入力用のエレメント*/
input[type=text], input[type=search], input[type=password] {
	height: 1.5em;
	border-radius: 5px;
}

.condition select {
	height: 2em;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 10px;
}

select {
	height: 1.7em;
	border-radius: 5px;
}

/*a*/
a {
	color: black;
	text-decoration: none;
}